{% extends 'base.html' %}
{% block content %}

    <div class="container pb-4">
        <div class="row my-3">
            <div class="col-md-6 m-auto text-center">
                {% if searchtext %}
                    <h1 class="text-center">"{{ searchtext }}"の検索結果</h1>
                    <hr>
                {% else %}
                    <h1 class="text-center">Event <span class="fs-5 ms-2 fst-italic">就活</span></h1>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    {% if job_search_events %}
                    {% for job_search_event in job_search_events.items %}
                    <div class="col-12 mb-2">
                        <div class="card h-100">
                            <div class="card-body" style="max-height: 15rem;">
                                <div class="container">
                                    <div class="row row-cols-auto">
                                        {% if job_search_event.image %}
                                        <div class="col-3 mb-3" style="text-align: center;">
                                                <img src="{{ url_for('static', filename='image/' + job_search_event.image) }}" class="img-fluid" style="max-height: 8rem; max-width: 11rem;">
                                        </div>
                                        {% endif %}
                                        <div class="col-9">
                                            <h5 class="card-title pt-2"><a href="{{ job_search_event.url }}" class="text-decoration-none text-dark">{{ job_search_event.title }}</a></h5>
                                            <hr>
                                            <p>{{ job_search_event.summary }}</p>
                                            <a href="{{ job_search_event.url }}" class="btn btn-secondary">詳しく…</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center my-3">就活情報がありません</p>
                    {% endif %}
                </div>
            </div>

            <!-- サイドバー -->
            <div class="col-md-3 p-2 bg-opacity-10 border border-secondary border-end-0 border-top-0 border-bottom-0">
                <div class="position-sticky" style="top: 12rem;">
                    <div class="container-fluid mb-4">
                        <form action="{{ url_for('events.job_search_event_search') }}" class="d-flex" method="post">
                            {{ form.hidden_tag() }}
                            {{ render_field(form.searchtext, class="form-control", placeholder="検索テキストを入力") }}
                            {{ form.submit(class="btn btn-warning") }}
                        </form>
                    </div>
                    <div class="p-4 mb-4 bg-secondary-subtle form-control">
                        <h4>SandBoxとは</h4>
                        <p>エンジニアをめざす壁が高くエンジニアの交友関係も築きにくいと思われがちな文系学生を助けるために作られたwebアプリ</p>
                    </div>
                    {% if current_user.is_authenticated %}
                    {% if current_user.is_administrator() %}
                    <div class="container pb-4">
                        <h4>Add <span class="fs-6 ms-2 fst-italic">就活情報追加</span></h4>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <a href="{{ url_for('events.add_job_search_event') }}" class="btn btn-light border border-dark" disabled tabindex="-1" role="button" aria-disabled="true">＋就活情報追加</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="container py-3">
                        <h4>Others <span class="fs-6 ms-2 fst-italic">おすすめハッカソン情報</span></h4>
                        <hr>
                        {% if recent_hackathon_events %}
                        {% for recent_hackathon_event in recent_hackathon_events %}
                        <div class="col mb-3">
                            <div class="card h-100">
                                <div class="card-body" style="max-height: 13rem;">
                                    {% if recent_hackathon_event.image %}
                                        <div style="text-align: center;">
                                                <img src="{{ url_for('static', filename='image/' + recent_hackathon_event.image) }}" class="img-fluid card-image-top" style="max-height: 5rem;">
                                        </div>
                                    {% endif %}
                                    <hr>
                                    <p class="card-title fs-6"><a href="{{ recent_hackathon_event.url }}" class="text-decoration-none text-dark"><b>{{ recent_hackathon_event.title }}</b></a></p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center my-3">ハッカソン情報がありません</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if job_search_events %}
        <nav class="my-5" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li {% if job_search_events.has_prev %} class="page-item" {%else%} class="page-item disabled" {% endif %}><a class="page-link" href="{% if job_search_events.has_prev %}{{ url_for('events.job_search_event', page=job_search_events.prev_num) }}{% else %}#{% endif %}">前へ</a></li>

        {% for page_num in job_search_events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            <!--ページ番号が表記されている場合（左右の端1つずつと現在のページとその両隣）-->
            {% if page_num %}
                {% if job_search_events.page == page_num %}
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('events.job_search_event', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            <!--ページ番号が表記されていない場合-->
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}

            <li {% if job_search_events.has_next %} class="page-item" {% else %} class="page-item disabled" {% endif %}><a class="page-link" href="{% if job_search_events.has_next %}{{ url_for('events.job_search_event',page=job_search_events.next_num) }}{% else %}#{% endif %}">次へ</a></li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}