{% extends 'base.html' %}
{% block content %}

    <div class="container pb-4">
        <div class="row my-3">
            <div class="col-md-6 m-auto text-center">
                {% if searchtext %}
                    <h1 class="text-center">"{{ searchtext }}"の検索結果</h1>
                    <hr>
                {% elif blog_category %}
                    <h1 class="text-center">{{ blog_category.category }}</h1>
                    <hr>
                {% else %}
                    <h1>Blog <span class="fs-5 ms-2 fst-italic">Others</span></h1>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    {% if otherblogs %}
                    {% for otherblog in otherblogs.items %}
                    <div class="col-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body" style="max-height: 26rem;">
                                {% if otherblog.image %}
                                    <div class="mb-3" style="text-align: center;">
                                            <img src="{{ url_for('static', filename='image/' + otherblog.image) }}" class="img-fluid card-image-top" style="max-height: 10rem;">
                                    </div>
                                {% endif %}
                                <h3 class="card-title pt-2"><a href="{{ otherblog.url }}" class="text-decoration-none text-dark">{{ otherblog.title }}</a></h3>
                                <hr>
                                <p>{{ otherblog.summary }}</p>
                                <a href="{{ otherblog.url }}" class="btn btn-secondary">続きを読む…</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center my-3">ブログがありません</p>
                    {% endif %}
                </div>
            </div>

            <!-- サイドバー -->
            <div class="col-md-3">
                <div class="position-sticky" style="top: 12rem;">
                    <div class="container-fluid mb-5">
                        <form action="{{ url_for('blogs.other_blog_search') }}" class="d-flex" method="post">
                            {{ form.hidden_tag() }}
                            {{ render_field(form.searchtext, class="form-control", placeholder="検索テキストを入力") }}
                            {{ form.submit(class="btn btn-warning") }}
                        </form>
                    </div>
                    <div class="container pb-4">
                        <h4>Add <span class="fs-6 ms-2 fst-italic">ブログ・カテゴリ追加</span></h4>
                        <hr>
                        <div class="row row-cols-auto">
                            <div class="col">
                                <a href="{{ url_for('blogs.other_blog_create') }}" class="btn btn-light border border-dark" disabled tabindex="-1" role="button" aria-disabled="true">＋他ブログ追加</a>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addCategoryModal">＋カテゴリ追加</button>
                            </div>
                        </div>
                    </div>
                    <div class="container py-3">
                        <h4>Category <span class="fs-6 ms-2 fst-italic">カテゴリ一覧</span></h4>
                        <hr>
                        {% if blog_categories %}
                        {% for blog_category in blog_categories %}
                        <ol class="list-unstyled">
                            <li>
                                <a href="{{ url_for('blogs.other_category_blog', blog_category_id=blog_category.id) }}" class="text-decoration-none">{{ blog_category.category }}</a>
                            </li>
                            <hr>
                        </ol>
                        {% endfor %}
                        {% else %}
                        <p class="text-center my-3">カテゴリがありません</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="addCategoryModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">カテゴリ追加</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {{ category_form.hidden_tag() }}
                <div class="modal-body">
                <div class="form-group">
                    <!-- render_fieldは？→formsの中でfieldの中にmessageでエラーを書いていない場合はrender_fieldの必要なし？　下の1文は何？　-->
                    {{ category_form.category.label(class="form-control-lable") }}
                    {{ category_form.category(class="form-control") }}
                </div>
                </div>
                <div class="modal-footer">
                    {{ category_form.submit(class="btn btn-warning") }}
                </div>
                </div>
            </form>
        </div>
    </div>

    {% if otherblogs %}
        <nav class="my-5" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li {% if otherblogs.has_prev %} class="page-item" {%else%} class="page-item disabled" {% endif %}><a class="page-link" href="{% if otherblogs.has_prev %}{{ url_for('blogs.other_blog_list', page=otherblogs.prev_num) }}{% else %}#{% endif %}">前へ</a></li>

        {% for page_num in otherblogs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            <!--ページ番号が表記されている場合（左右の端1つずつと現在のページとその両隣）-->
            {% if page_num %}
                {% if otherblogs.page == page_num %}
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('blogs.other_blog_list', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            <!--ページ番号が表記されていない場合-->
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}

            <li {% if otherblogs.has_next %} class="page-item" {% else %} class="page-item disabled" {% endif %}><a class="page-link" href="{% if otherblogs.has_next %}{{ url_for('blogs.other_blog_list',page=otherblogs.next_num) }}{% else %}#{% endif %}">次へ</a></li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}