{% extends 'base.html' %}
{% block content %}

        <div class="container pb-4">
            <div class="row my-3">
                <div class="col-md-6 m-auto text-center">
                    <h1 class="text-center">Chat</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div class="container bg-light mb-5">
            <div class="row">
                <div class="col-4 border border-secondary rounded">
                    <div class="position-sticky" style="top: 5rem;">
                        <div class="container-fluid mb-4 mt-3">
                            <form action="#" class="d-flex" method="post">
                                <input type="text" class="form-control" placeholder="検索内容を入力">
                                <button type="submit" class="btn btn-warning ms-1">🔍</button>
                            </form>
                        </div>
                        <div class="container">
                            <hr>
                            <ol class="list-unstyled pt-2">
                                <li>
                                    <p class="text-decoration-none text-dark fw-bold">All <br><span class="fw-normal">python,flaskで開発してます。</span></p>
                                </li>
                            </ol>
                            <hr>
                            <ol class="list-unstyled pt-2">
                                <li>
                                    <p class="text-decoration-none text-dark fw-bold">ryoken <br><span class="fw-normal">楽しかったです！</span></p>
                                </li>
                            </ol>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-8 border border-secondary rounded bg-light">
                    <div class="position-sticky bg-light" style="top: 4rem;">
                        <div class="container">
                            <div class="row row-cols-auto">
                                <div class="col">
                                    <h5 class="mt-4 ms-2 fw-bold">All</h5>
                                </div>
                                <div class="col ms-auto">
                                    <a href="{{ url_for('users.user_list') }}" class="text-decoration-none text-dark"><h5 class="position-end mt-4 me-2">👤{{ number_of_users }}</h5></a>
                                </div>
                            </div>
                        </div>
                    <hr>
                    </div>
                    <div class="container">
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <a href="#" class="btn btn-dark text-light fw-bold">R</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col me-auto">
                                <p class="form-control border-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, adipisci!</p>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <a href="#" class="btn btn-light border border-secondary fw-bold">M</a>
                            </div>
                        </div>
                        <div class="row row-cols-auto">
                            <div class="col ms-auto">
                                <p class="form-control bg-success-subtle">python,flaskで開発してます。</p>
                            </div>
                        </div>
                    </div>
                    <div class="sticky-bottom bg-light">
                        <footer>
                            <form action="#" class="d-flex my-2" method="post">
                                <input type="text" class="form-control" placeholder="送信内容を入力してください">
                                <button type="submit" class="btn btn-secondary ms-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                </svg></button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}